/* .App {
  text-align: center;
} */

.countries-home-body {
  /* background-color: hsl(0, 0%, 98%); */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.countries-header{
  background-color: hsl(0, 0%, 100%);
  display: flex;
  box-shadow: 0px 3px 5px hsl(0, 0%, 94%);
  height:4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1% 6%;
}
.header-title{
  font-size:22px;
  font-weight: 800;
}
.dark-mode-btn{
  background-color: white;
  font-weight: 600;
}

.countries-outer-area{
  padding:6%;
  display:flex;
  flex-wrap:wrap;
}
.country-flag-div{
  height: 9rem;
  width: 100%;
 
}
img{
  height: 100%;
  width:100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.country-block{
  /* border-radius: 2%; */
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  box-shadow: 2px 3px 3px 2px hsl(0, 0%, 94%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.country-summary-div{
  
}

.country-row{
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5%;
}
.country-details-div{
  padding: 6% 2% 15% 10%;
}
